@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Satisfy&display=swap');

.add-item-container {
  background-image: url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 10px;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  font-family: 'Rancho', cursive;
  font-size: 1.2em;
}

.app-name {
  font-size: 2em;
  font-family: 'Satisfy', cursive;
  color: var(--main-color);
}

.add-item-label {
  text-align: left;
}

.add-item-label span {
  display: inline-block;
  width: 100%;
}

.form-input {
  width: 100%;
  padding: 7px 7px;
  border: 1px solid #555;
  border-radius: 3px;
  margin: 10px 0px;
}

.add-item-btn {
  height: 40px;
  width: 100px;
  color: black;
  background-color: #82c8a0;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-item-btn:hover {
  background-color: #4caf50;
}

.error {
  background-color: #e6afaf;
  padding: 10px;
  color: #4a4747;
  margin: 10px;
}

.success {
  background-color: #a7f1a7;
  padding: 10px;
  color: #4a4747;
  margin: 10px;
}

.add-item-form input[type='text'] {
  width: 95%;
  height: 30px;
}
