.app-name {
  font-size: 30px;
  margin: 30px;
}

.add-item-form {
  display: inline-block;
}

.add-item-label {
  text-align: left;
}

.add-item-label span {
  display: inline-block;
  width: 100%;
}

.form-input {
  width: 100%;
  border: 1px solid #555;
  border-radius: 3px;
  margin: 10px 0px;
}

.add-item-btn {
  height: 40px;
  width: 100px;
  color: black;
  background-color: #82c8a0;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-item-btn:hover {
  background-color: #4caf50;
}

.error {
  background-color: #eee0e0;
  color: #4a4747;
}

.success {
  background-color: #e0eee5;
  color: rgb(62, 61, 61);
}
.flash-msg {
  margin: 10px;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 420px;
}

.success,
.error {
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  animation: fadeOut 2s ease-out 1s 1;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.add-item input[type='text'] {
  width: 95%;
  height: 30px;
}
