.sorted-list {
  height: 62vh;
  overflow-y: auto;
}
.list-item {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #3f2f4e;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  flex-direction: row-reverse;
}

.list-item {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: 1px solid #eee;
}

.soon-item {
  background-color: rgb(199, 235, 199);
}

.kind-of-soon-item {
  background-color: rgb(180, 211, 216);
}

.not-soon-item {
  background-color: #ebd4d9;
}

.inactive-item {
  background-color: rgb(231, 231, 231);
}

.check-item {
  width: 15px;
  height: 15px;
}

.item-name {
  flex: 0.85;
  text-align: left;
  color: #585555;
}

.line-through {
  text-decoration: line-through #666666;
}
.search-term-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 30px;
  border: 1px solid gray;
  padding-left: 3px;
  margin-top: 10px;
}
.search-term-wrapper input {
  flex: 1;
  height: 100%;
  border: none;
}
.search-term-wrapper button {
  border: none;
  flex: 0.1;
  height: 100%;
  color: whitesmoke;
  background: gray;
  font-weight: bold;
}
.search-term-wrapper button:disabled {
  background: lightgray;
  cursor: not-allowed;
}

.search-no-items {
  margin: 20px;
}

.delete-icon {
  color: #b53737;
  border: none;
  font-size: 1em;
}
