.list-item {
  background-color: aqua;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.list-item {
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
}

.class-thirty {
  background-color: cadetblue;
}

.class-seven {
  background-color: lightgreen;
}

.class-above-thirty {
  background-color: orangered;
}

.check-item {
  flex: 1;
}

.item-name {
  flex: 3;
  text-align: left;
}

.check-item:disabled + div {
  text-decoration: line-through #666666;
}
.search-term-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 30px;
  border: 1px solid gray;
  padding-left: 3px;
  margin-top: 10px;
}
.search-term-wrapper input {
  flex: 1;
  height: 100%;
  border: none;
}
.search-term-wrapper button {
  border: none;
  flex: 0.1;
  height: 100%;
  color: whitesmoke;
  background: gray;
  font-weight: bold;
}
.search-term-wrapper button:disabled {
  background: lightgray;
  cursor: not-allowed;
}

.search-no-items {
  margin: 20px;
}
