:root {
  --main-color: rgb(245, 243, 243);
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 98%;
  min-height: 400px;
  width: 370px;
  margin: auto;
  border: 5px solid var(--main-color);
  border-radius: 3px;
}

.icon {
  width: 20%;
}

.icon-title {
  color: rgb(109, 106, 106);
  font-weight: bold;
  margin: 0 15px;
}

.header {
  background-color: var(--main-color);
  height: 70px;
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.app-inner {
  flex: 1;
  position: relative;
}

.navbar {
  position: absolute;
  bottom: 0px;
  margin: auto;
  width: 100%;
}

.join-shopping-list-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
}

.home {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-interface {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-interface h1 {
  margin-top: 10px;
}
.main-interface p {
  font-size: large;
  font-weight: bold;
}

.main-title {
  font-size: 27px;
  padding: 30px;
}

.main-or {
  padding: 30px 0;
}

.create-new-list-btn {
  margin: 0 50px;
}

.button-token {
  width: 75%;
  align-self: center;
  height: 40px;
  border: none;
  background-color: var(--main-color);
  color: whitesmoke;
  font-size: large;
  border-radius: 3px;
}
.button-token:hover,
.button-token:focus {
  border: 2px solid whitesmoke;
}
.join-shopping-list {
  position: relative;
  flex: 0.35;
  display: flex;
  flex-direction: column;
}
.join-shopping-list h2 {
  font-size: 1.3rem;
}
.join-shopping-list-form label {
  width: 100%;
}
.join-shopping-list-form input,
.join-shopping-list-form button {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  height: 40px;
}
.join-shopping-list-form input {
  margin: 10px 0;
}

.token-error {
  margin-top: 5px;
  color: brown;
}

.empty-list {
  margin: 35px;
}
