:root {
  --main-color: #f5f3f3;
}
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    'header'
    'main'
    'nav';
  text-align: center;
  height: 100vh;
}

/* this is important to make the navbar stick in the bottom*/
.app-inner {
  overflow: auto;
}

.icon-title {
  color: rgb(109, 106, 106);
  font-weight: bold;
  margin: 0 15px;
}

.header {
  background-color: var(--main-color);
  height: 70px;
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.header div {
  margin: auto;
}

.header img {
  width: 50px;
}

.join-shopping-list-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
}

.home {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.main-interface {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-interface h1 {
  margin-top: 10px;
}
.main-interface p {
  font-size: large;
  font-weight: bold;
}

.main-title {
  font-size: 27px;
  padding: 30px;
}

.main-or {
  padding: 30px 0;
}

.create-new-list-btn {
  margin: 0 50px;
}

.button-token {
  width: 75%;
  align-self: center;
  height: 40px;
  border: none;
  background-color: var(--main-color);
  color: whitesmoke;
  font-size: large;
  border-radius: 3px;
}
.button-token:hover,
.button-token:focus {
  border: 2px solid whitesmoke;
}
.join-shopping-list {
  position: relative;
  flex: 0.35;
  display: flex;
  flex-direction: column;
}
.join-shopping-list h2 {
  font-size: 1.3rem;
}
.join-shopping-list-form label {
  width: 100%;
}
.join-shopping-list-form input,
.join-shopping-list-form button {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  height: 40px;
}
.join-shopping-list-form input {
  margin: 10px 0;
}

.token-error {
  margin-top: 5px;
  color: brown;
}

.empty-list {
  margin: 35px;
}
