.navlinks {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 50vh;
}

.selected {
  font-weight: bolder;
}

.AddItem {
  margin-top: 150px;
  text-align: center;
}

.List {
  margin-top: 150px;
  text-align: center;
}

.button-token {
  background-color: cadetblue;
  color: white;
  padding: 15px;
  font-size: 22px;
}
