.navbar {
  width: 100%;
  padding: 0;
  border-top: 1px solid lightblue;
}
.navbar a {
  border: 2px solid transparent;
}
.navlinks {
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  color: #e9e93d;
  width: 100%;
}
.not-selected {
  flex-grow: 1;
  background: #c9dbd7;
  color: var(--main-color);
}

.not-selected:hover {
  color: #cfcf0d;
}

.selected {
  font-weight: bolder;
  text-decoration: none;
  color: #e9e93d;
  background: var(--main-color);
}
