.navbar {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.navlinks {
  font-size: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}
.not-selected {
  padding: 10px;
  color: black;
  border: 1px solid rgb(143, 142, 142);
  flex-grow: 1;
  background: white;
}

.not-selected:hover {
  color: rgb(53, 50, 50);
}

.selected {
  font-weight: bolder;
  background-color: rgb(143, 142, 142);
  text-decoration: none;
  color: white;
}
