.navlinks {
  font-size: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.not-selected {
  padding: 10px;
  color: black;
  text-decoration: none;
  border: 1px solid rgb(143, 142, 142);
  flex-grow: 1;
}
.selected {
  font-weight: bolder;
  background-color: rgb(143, 142, 142);
  text-decoration: none;
  color: white;
}
